

<main>

<div class="login-container">
  <div class="login-header">
    <h1>User Login page</h1>
  </div>
  <div id="loginError" class="loginError" hidden>

  </div>
  <form method="POST" id="login-form" action="/login">
    <div class="form-elem">
      <label for="username">Username.:</label>
      <input
        name="username"
        id="username"
        type="text"
        value="{{username}}"
        placeholder="Username(4 - characters minimum)"
      />
    </div>
    <div class="form-elem">
      <label for="password">Password:</label>
      <input
        name="password"
        id="password"
        type="password"
        placeholder="password(6 - characters minimum)"
      />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
 </div>
     </form>
        <a href="/signup" class="carrd-link">Need to register? Click here to sign-up</a>
    </div>
</div>

{{#if error}}
  <div class="login-error">
    <p>Error: {{error}}</p>
  </div>


{{/if}}

</main>
