
<main>
<div class="user-container">
    <div class="user">
        <h1>  Username: {{name}}</h1>
       
        
   
       
            <p id="empty">Welcome to the private page.</p>
    </div>
</div>
<div>
    <a href="/logout">logout</a>
</div>
</main>


